.text-darkslategray {
color: #2F4F4F
}
.bg-darkslategray {
background-color: #2F4F4F
}
.text-gainsboro {
color: #DCDCDC
}
.bg-gainsboro {
background-color: #DCDCDC
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-brown {
color: #A52A2A
}
.bg-brown {
background-color: #A52A2A
}
.text-brown {
color: #A52A2A
}
.bg-brown {
background-color: #A52A2A
}
.text-gainsboro {
color: #DCDCDC
}
.bg-gainsboro {
background-color: #DCDCDC
}
.text-black {
color: #000000
}
.bg-black {
background-color: #000000
}
.text-gainsboro {
color: #DCDCDC
}
.bg-gainsboro {
background-color: #DCDCDC
}
.text-black {
color: #000000
}
.bg-black {
background-color: #000000
}
.text-gainsboro {
color: #DCDCDC
}
.bg-gainsboro {
background-color: #DCDCDC
}
.text-black {
color: #000000
}
.bg-black {
background-color: #000000
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
.text-black {
color: #000000
}
.bg-black {
background-color: #000000
}
.text-white {
color: #FFFFFF
}
.bg-white {
background-color: #FFFFFF
}
#e__12 {
width: 1440px;
height: 2713.00px;
background-color: rgba(62, 61, 71, 1.00);
padding: 0px 0px 0px 0px;
position: relative;
}
#e__165 {
width: 1281px;
height: 193.00px;
padding: 0px 0px 0px 0px;
position: absolute;
top: 24px;
left: 80px;
}
#e__I165112 {
width: 193px;
height: 193.00px;
object-fit: cover;
padding: 0px 0px 0px 0px;
position: absolute;
top: 0px;
left: 0px;
border-radius: 193px / 193px;
}
#e__I165113 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 40px;
left: 217px;
text-align: left;
text-decoration: underline;
font-size: 24px;
}
#e__I165114 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 400;
padding: 0px 0px 0px 0px;
position: absolute;
top: 40px;
left: 478px;
text-align: left;
font-size: 24px;
}
#e__I165115 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 400;
padding: 0px 0px 0px 0px;
position: absolute;
top: 40px;
left: 801px;
text-align: left;
font-size: 24px;
}
#e__I165116 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 400;
padding: 0px 0px 0px 0px;
position: absolute;
top: 40px;
left: 1088px;
text-align: left;
font-size: 24px;
}
#e__578 {
width: 1440px;
height: 73.00px;
padding: 0px 0px 0px 0px;
position: absolute;
top: 2575px;
left: 0px;
}
#e__I578575 {
width: 1440px;
height: 73.00px;
background-color: rgba(22, 21, 21, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 0px;
left: 0px;
}
#e__I578576 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 400;
padding: 0px 0px 0px 0px;
position: absolute;
top: 22px;
left: 621px;
text-align: left;
font-size: 24px;
}
#e__6477 {
width: 628px;
height: 751.00px;
background-color: rgba(217, 217, 217, 1.00);
opacity: 0.10;
padding: 0px 0px 0px 0px;
position: absolute;
top: 276px;
left: 80px;
}
#e__6487 {
width: auto;
min-width: fit-content;
min-height: 174.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 827px;
left: 118px;
text-align: left;
font-size: 24px;
}
#e__6484 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 616px;
left: 118px;
text-align: left;
font-size: 24px;
}
#e__6485 {
width: auto;
min-width: fit-content;
min-height: 116.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 678px;
left: 118px;
text-align: left;
font-size: 24px;
}
#e__6483 {
width: auto;
min-width: fit-content;
min-height: 39.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 544px;
left: 92px;
text-align: left;
font-size: 32px;
}
#e__6478 {
width: auto;
min-width: fit-content;
min-height: 233.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 400;
padding: 0px 0px 0px 0px;
position: absolute;
top: 288px;
left: 108px;
text-align: left;
font-size: 96px;
}
#e__6479 {
width: 628px;
height: 10.00px;
background-color: rgba(161, 29, 57, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 521px;
left: 80px;
}
#e__6480 {
width: 1280px;
height: 10.00px;
background-color: rgba(161, 29, 57, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 1027px;
left: 80px;
}
#e__6490 {
width: 171px;
height: 52.00px;
background-color: rgba(217, 217, 217, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 276px;
left: 732px;
}
#e__6489 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(0, 0, 0, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 288px;
left: 748px;
text-align: left;
font-size: 24px;
}
#e__6498 {
width: 389px;
height: 52.00px;
background-color: rgba(217, 217, 217, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 1070px;
left: 80px;
}
#e__6499 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(0, 0, 0, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 1082px;
left: 96px;
text-align: left;
font-size: 24px;
}
#e__67107 {
width: 136px;
height: 52.00px;
background-color: rgba(217, 217, 217, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 1438px;
left: 80px;
}
#e__67108 {
width: auto;
min-width: fit-content;
min-height: 29.00px;
color: rgba(0, 0, 0, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 1450px;
left: 96px;
text-align: left;
font-size: 24px;
}
#e__6491 {
width: auto;
min-width: fit-content;
min-height: 87.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 361px;
left: 763px;
text-align: left;
font-size: 24px;
}
#e__6492 {
width: auto;
min-width: fit-content;
min-height: 87.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 481px;
left: 763px;
text-align: left;
font-size: 24px;
}
#e__6494 {
width: auto;
min-width: fit-content;
min-height: 87.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 601px;
left: 763px;
text-align: left;
font-size: 24px;
}
#e__6496 {
width: auto;
min-width: fit-content;
min-height: 87.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 721px;
left: 763px;
text-align: left;
font-size: 24px;
}
#e__64101 {
width: auto;
min-width: fit-content;
min-height: 58.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 1155px;
left: 110px;
text-align: left;
font-size: 24px;
}
#e__67103 {
width: auto;
min-width: fit-content;
min-height: 58.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 1246px;
left: 110px;
text-align: left;
font-size: 24px;
}
#e__67105 {
width: auto;
min-width: fit-content;
min-height: 58.00px;
color: rgba(255, 255, 255, 1.00);
padding: 0px 0px 0px 0px;
position: absolute;
top: 1337px;
left: 110px;
text-align: left;
font-size: 24px;
}
#e__67110 {
width: auto;
min-width: fit-content;
min-height: 135.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 1523px;
left: 110px;
text-align: left;
line-height: 45px;
font-size: 20px;
}
#e__67112 {
width: auto;
min-width: fit-content;
min-height: 135.00px;
color: rgba(255, 255, 255, 1.00);
font-family: Alexandria;
font-weight: 700;
padding: 0px 0px 0px 0px;
position: absolute;
top: 1523px;
left: 382px;
text-align: left;
line-height: 45px;
font-size: 20px;
}
#e__71117 {
width: 379px;
height: 114.00px;
display: flex;
flex-direction: column;
opacity: 0.10;
padding: 0px 0px 0px 0px;
position: absolute;
top: 1127px;
left: 599px;
}